body {
	display: block;
	text-align: center;
}

header {
	display: flex;
	height: 64px;
	align-items: center;
}

.back {
	display: inline-flex;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	transition: all 0.2s ease;
}

.back:hover {
	border-radius: 32px;
	background-color: #FFFFFF1F;
	transition: all 0.2s ease;
}

.back > a {
	padding: 16px;
}

.title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 48px;
}

.buttons {
	margin-bottom: 40px;
}

.buttons > button {
	color: #003258;
	background-color: #9ECAFF;
	border: none;
	border-radius: 4px;
	font-size: x-large;
	padding: 8px;
	margin: 8px;
}

.buttons > button:hover {
	background-color: #D1E4FF;
}

.buttons > button:active {
	color: #00497D;
}

#result {
	font-size: 40px;
}
