header {
	margin-bottom: 40px;
}

header > img {
	height: 90px;
}

.title {
	text-align: center;
	font-size: 96px;
	font-weight: 900;
}

.version {
	text-align: center;
}

.games {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 0 10px;
	margin-top: 50px;
	width: 80%;
}

.games td {
	margin: 10px 0px;
	background-color: #212529;
	border-radius: 20px;
	box-shadow: 0px 0px 4px 0px #0000003F;
	font-size: 24px;
	font-weight: bold;
	transition: all 0.2s ease;
}

.games td:hover {
	box-shadow: 0px 2px 6px 2px #0000003F;
	transition: all 0.2s ease;
}

.games td a {
	text-decoration-line: none;
}

.games td a:hover {
	color: #9ECAFF !important;
	transition: all 0.2s ease;
}

.games td div {
	padding: 20px;
	color: inherit;
}
